<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/estilos.css">
    <title>Document</title>


</head>
<body >
    <div class="container-fluid navbar-dark bg-info fixed-top">
        <nav class= "navbar navbar-expand-lg container">
            <a href="#" class="navbar-brand"><h2><strong>Medi Search</strong></h2></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


            <div class="collapse navbar-collapse" id = "navbarSupportedContent">

                <ul class="navbar-nav ml-auto">
                  <li class="nav-item text-white">
                      <a href="/" class="nav-link " style="color: white;">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a href="/Medicos/all/all" class="nav-link" style="color: white;">Medicos</a>
                  </li>
                  <li class="nav-item ">
                    <a href="/Centros/all" class="nav-link" style="color: white;">Centros de atención</a>
                  </li>
                  <li class="nav-item ">
                      <a href="/About" class="nav-link" style="color: white;">About</a>
                  </li>
                  <li class="nav-item ">
                      <a href="/Contact" class="nav-link" style="color: white;">Contact</a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>


    <div class="container-fluid py-5">
    </div>
    <div class="container py-5">
		<div class="row">
			<div  class="col-md-6 ">
				<h1 class="display-4 us">Lista de centros medicos</h1>
      </div>
            <div class="col-md-2"></div>
            <div  class="col-md-4 d-none d-md-block"></div>
        </div>
        <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Ciudad
            {% if Ciudad != "all" %}
            <a href="all">
            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-counterclockwise" fill="white" xmlns="http://www.w3.org/2000/svg">
  <path fill-rule="evenodd" d="M12.83 6.706a5 5 0 0 0-7.103-3.16.5.5 0 1 1-.454-.892A6 6 0 1 1 2.545 5.5a.5.5 0 1 1 .91.417 5 5 0 1 0 9.375.789z"/>
  <path fill-rule="evenodd" d="M7.854.146a.5.5 0 0 0-.708 0l-2.5 2.5a.5.5 0 0 0 0 .708l2.5 2.5a.5.5 0 1 0 .708-.708L5.707 3 7.854.854a.5.5 0 0 0 0-.708z"/>
</svg></a>
{% endif %}
</th>
          <th scope="col">Nombre</th>
          <th scope="col">Dirección</th>
        </tr>
      </thead>
      <tbody>
        {% for x in Centros%}
        <tr>
          <td><a href="{{x.1}}">{{ x.1 }}</a></td>
          <td><a href="/Medicos/all/{{x.2}}">{{ x.2 }}</a></td>
          <td>{{ x.3 }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <br>
    <br>
    <br>
      <br>
  </div>






    <footer class="container-fluid bg-primary text-black footer py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p style="color: white;">&copy; 2020 Medic Search</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-right">
                        <li class="list-inline-item"><a href="index.html" style="color: white;">Home</a></li>
                        <li class="list-inline-item"><a href="About.html" style="color: white;">About</a></li>
                        <li class="list-inline-item"><a href="contact.html" style="color: white;">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
























<script src="../static/js/jquery-3.5.1.slim.min.js"></script>
<script src="../static/js/popper.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
</body>
</html>
