
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <link href="https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;700&family=Caveat:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/css/estilos.css">
    <title>Document</title>


</head>
<body >
    <div class="container-fluid navbar-dark bg-info fixed-top">
        <nav class= "navbar navbar-expand-lg container">
            <a href="#" class="navbar-brand"><h2><strong>Medi Search</strong></h2></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


            <div class="collapse navbar-collapse" id = "navbarSupportedContent">

                <ul class="navbar-nav ml-auto">
                  <li class="nav-item text-white">
                      <a href="/" class="nav-link " style="color: white;">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a href="/Medicos/all/all" class="nav-link" style="color: white;">Medicos</a>
                  </li>
                  <li class="nav-item ">
                    <a href="/Centros/all" class="nav-link" style="color: white;">Centros de atención</a>
                  </li>
                  <li class="nav-item ">
                      <a href="/About" class="nav-link" style="color: white;">About</a>
                  </li>
                  <li class="nav-item ">
                      <a href="/Contact" class="nav-link" style="color: white;">Contact</a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>
    <div class="fondo">
    <div class="container-fluid fondo2">
        <div class="container d-flex flex-column justify-content-center h-100  align-items-center">
            <h1 class="display-2 text-white">Bienvenidos a Medi Search </h1>
            <p><h4 class="text-white"> Aquí encontraran una gran cantidad de  </h4></p>
            <div>
                <a href="/About" class="btn btn-primary">Leer más</a>
            </div>

        </div>

    </div>
    </div>

    <section class="container blanco">
        <h4 class="pb-5 py-5 text-center ">Registre un nuevo centro o medico nuestro sistema!</h4>
        <div class="row">
            <div class="col-4">
                <h3 class="pb-5  ">Medicos</h3>
                <form class="form-horizontal" action="/add_Medico" method="POST">
                    <div class="form-group row">
                        <label for="">Nombre:</label>
                        <input type="text" name="Nombre" placeholder="Escribe el nombre aquí" class="form-control">
                    </div>
                    <div class="form-group row ">
                        <label for="">Apellido:</label>
                        <input type="text" name="Apellido" placeholder="Escribe el apellido aquí" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="">Especialidad:</label>
                        <input type="text" name="Especialidad" placeholder="Escribe tu especialidad aquí" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="">Centro de atención:</label>
                        <input type="text" name="Centro" placeholder="Escribe tu centro aquí" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Enviar</button>
                    </div>
                </form>
            </div>
            <div class="col-4"></div>
            <div class="col-4">
                <h3 class="pb-5  ">Centros Medicos</h3>
                <form class="form-horizontal" action="/add_Centro" method="POST" >
                    <div class="form-group row">
                        <label for="">Nombre:</label>
                        <input type="text" name="Nombre" placeholder="Escribe el nombre aquí" class="form-control">
                    </div>
                    <div class="form-group row ">
                        <label for="">Ciudad:</label>
                        <input type="text" name="Ciudad" placeholder="Escribe la ciudad aquí" class="form-control">
                    </div>
                    <div class="form-group row">
                        <label for="">Dirección:</label>
                        <input type="text" name="Dirección" placeholder="Escribe la Dirección aquí" class="form-control">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-info" type="submit">Enviar</button>
                    </div>
                </form>

            </div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            {% for message in messages %}
            {% if message == "1" %}
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Centro medico agregado</h4>
              <p>Gracias por hacer que nuestra base de datos sea más grande, si deseas ver nuestra base de datos, esta esta en las siguientes pestañas</p>
              <hr>
              <p class="mb-0">Nuestra base de datos puede ser filtrada por cuidades, centros de atención y especialidad medica </p>
            </div>
            {% endif %}
            {% if message == "2" %}
            <div class="alert alert-warning" role="alert">
              <h4 class="alert-heading">Personal medico agregado</h4>
              <p>El Personal medico que nos proporcionó pertenece a un centro de atención desconocido por nuestra base de datos</p>
              <hr>
              <p class="mb-0">De ser posible por usted, ingrese los datos del centro medico en cuestión</p>
            </div>
            {% endif %}
            {% if message == "3" %}
            <div class="alert alert-success" role="alert">
              <h4 class="alert-heading">Personal medico agregado</h4>
              <p>Gracias por hacer que nuestra base de datos sea más grande, si deseas ver nuestra base de datos, esta esta en las siguientes pestañas</p>
              <hr>
              <p class="mb-0">Nuestra base de datos puede ser filtrada por cuidades, centros de atención y especialidad medica </p>
            </div>
            {% endif %}
            {% endfor %}
            {% endif %}
            {% endwith %}
            <!DOCTYPE html>
          </div>

    </section>




    <footer class="container-fluid bg-primary text-black  py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p style="color: white;">&copy; 2020 Medic Search</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-right">
                        <li class="list-inline-item"><a href="index.html" style="color: white;">Home</a></li>
                        <li class="list-inline-item"><a href="About.html" style="color: white;">About</a></li>
                        <li class="list-inline-item"><a href="contact.html" style="color: white;">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>































<script src="../js/jquery-3.5.1.slim.min.js"></script>
<script src="../js/popper.min.js"></script>
<script src="../js/bootstrap.min.js"></script>
</body>
</html>
