<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie-edge">
    <link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
    <title>Document</title>
    <style>
        .fondo{
            background: url('img/fondo 1.jpg');
            height: 100vh;
            background-position: center;
            background-size: cover;
        }
    </style>
</head>
<body >
    <div class="container-fluid navbar-dark bg-info fixed-top">
        <nav class= "navbar navbar-expand-lg container">
            <a href="#" class="navbar-brand"><h2><strong>Medi Search</strong></h2></a>
            <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>


            <div class="collapse navbar-collapse" id = "navbarSupportedContent">

                <ul class="navbar-nav ml-auto">
                  <li class="nav-item text-white">
                      <a href="/" class="nav-link " style="color: white;">Home</a>
                  </li>
                  <li class="nav-item ">
                    <a href="/Medicos" class="nav-link" style="color: white;">Medicos</a>
                  </li>
                  <li class="nav-item ">
                    <a href="/Centros" class="nav-link" style="color: white;">Centros de atención</a>
                  </li>
                  <li class="nav-item ">
                      <a href="/About" class="nav-link" style="color: white;">About</a>
                  </li>
                  <li class="nav-item ">
                      <a href="/Contact" class="nav-link" style="color: white;">Contact</a>
                  </li>
                </ul>
            </div>
        </nav>
    </div>













    <footer class="container-fluid bg-info text-black  py-3">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p style="color: white;">&copy; 2020 Medic Search</p>
                </div>
                <div class="col-md-6">
                    <ul class="list-inline text-right">
                        <li class="list-inline-item"><a href="index.html" style="color: white;">Home</a></li>
                        <li class="list-inline-item"><a href="About.html" style="color: white;">About</a></li>
                        <li class="list-inline-item"><a href="contact.html" style="color: white;">Contact</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>







<script src="js/jquery-3.5.1.slim.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
</body>
</html>
